@model _2012142670_ENT.Entities.Provincia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Provincia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departamento.departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento.departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomProvincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomProvincia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProvinciaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
